{% comment %}
{% extends "layout.html" %}
{% endcomment %}


{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
      username: <input type="text" name="username"><br>
      password: <input type="password" name="password"><br>
    <button type="submit">Login</button>
  </form>
   <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
{% endblock %}